* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#brandLogo {
  width: 100%;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
#brandLogo img {
  width: 300px;
  height: 125px;
  margin-left: -30px;
  margin-top: 5px;
}
#loginDetails {
  width: 100%;
  margin: 0px 13px;
  text-align: center;
  display: flex;
  justify-content: center;
}
#countryCode option::before {
  background-image: url("https://www.tanishq.co.in/wps/wcm/connect/tanishq/a221f3b7-8176-4b44-a61f-97005b92c483/in.svg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_90IA1H80O0RT10QIMVSTFU3006-a221f3b7-8176-4b44-a61f-97005b92c483-nme8WTU");
}
#select,
#countryCode {
  width: 100px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px !important;
  background-color: #f6f6f6;
  border: none;
  text-align: center;
  padding: auto;
  margin-top: 10px;
  box-shadow: none;
  outline: 0px;
}
#fname,
#mobile {
  width: 250px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px !important;
  background-color: #f6f6f6;
  border: none;
  margin: 18px 5px;
  text-align: center;
  box-shadow: none;
  outline: 0px;
}
#lname,
#email,
#password {
  width: 360px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px !important;
  background-color: #f6f6f6;
  text-align: center;
  box-shadow: none;
  border: none;
  margin: 18px 5px;
  outline: 0px;
}
#checkbox {
  margin: 10px;
  padding: 10px;
}
#register {
  width: 100%;
  color: white;
  height: 50px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: black;
  padding: 20px auto;
  border: none;
}
